{% extends "sena/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
          <h1>Diccionario De Señas</h1>
          <h5 class="mt-4">Esta es una plataforma web diseñada para poder contribuir en 
            la enseñanza de el lenguaje de señas para nuestro Pais.</h5>
          <a href="{% url 'sena-home' %}" class="btn btn-lg btn-primary">Ver Contenido</a>
      </div>
      <div class="col-lg-4">
        <img src="{% static 'sena.jpg' %}" class="rounded float-start" style="height: 45em;">
      </div>
    </div>
  </div>
{% endblock %}
