{% extends "sena/base.html" %}
{% block content %}

<div class="container" style="height: 670px;">
    <div class="row mt-4 w-50 mx-auto text-center">
        <h4 class="mt-2">Seleccione el tipo de cuestionarios que desee. Podrá ir resolviendo y avanzando 
            a través de diferentes actividades relacionadas acerca de la categoría seleccionada:</h4>
    </div>
    {% for categoria in categorias %}
    <div class="row mt-4 w-50 mx-auto">
        <a href="{% url 'sena-quest' id=categoria.id %}" class="btn btn-info">{{ categoria.titulo }}</a>
    </div>
    {% endfor %}

</div>

{% endblock content %}
