{% extends "sena/base.html" %}
{% load bootstrap %}

{% block content %}
<div class="container">
<div class="row text-center mt-4">
<h4>Catalogo de Señas</h4>

<form class="filtrador mb-4" method="GET">
    {{ filtro.form }}
    <button type="submit" class="btn btn-info">Filtrar</button>
</form>

{% for sena in senas %}
    <div class="col-lg-4">
    <div class="card">
        <video class="card-img-top img-responsive" style="height: 20em;" muted>
            <source src="{{ sena.video.url }}" type="video/mp4" />
        </video>
        <div class="card-body">
        <h4>{{ sena.titulo }}</h4>
         <a href="{% url 'sena-detail' sena.id %}" class="btn btn-info">Detalles</a>
        </div>
    </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
