{% extends "sena/base.html" %}
{% block content %}

<div class="container" style="height: 670px;">
<!-- <div class="row mt-4">
</div> -->
<div class="row mt-4">
    {% for quest in page_obj %}
    <p class="d-none">{{ quest.sena.titulo }}</p>
    <div class="col-lg-4 mx-auto mt-4">
        <h3>{{ quest.pregunta }}</h3>
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-lg btn-primary mt-2 respuesta" type="button" value="{{ quest.respuesta1 }}">{{ quest.respuesta1 }}</button>
            <button class="btn btn-lg btn-primary mt-2 respuesta" type="button" value="{{ quest.respuesta2 }}">{{ quest.respuesta2 }}</button>
            <button class="btn btn-lg btn-primary mt-2 respuesta" type="button" value="{{ quest.respuesta3 }}">{{ quest.respuesta3 }}</button>
            <button class="btn btn-lg btn-primary mt-2 respuesta" type="button" value="{{ quest.respuesta4 }}">{{ quest.respuesta4 }}</button>
        </div>
        <div class="alertas">
            <div class="alert alert-dismissible mt-4">
                <strong class="texto"></strong> 
            </div>
        </div>      
    </div>
    <div class="col-lg-6 mx-auto mt-4">
        <div class="card text-white bg-dark">
            <div class="card-header">
                <h5 class="text-center">Seña</h5>
            </div>
            <div class="card-body">
                <video class="card-img img-responsive" style="height: 20em;" width="100%" controls="controls" muted>
                    <source src="{{ quest.sena.video.url }}" type="video/mp4"/>
                </video>
            </div>
          </div>
    </div>
    
</div>
<div class="row mt-4">
    <div class="col-lg-3 mx-auto mt-4">
        <span class="step-links">
            <a class="btn btn-lg btn-info ms-4" href="{% url 'category-list' %}">Volver</a>
            <!--
            {% if page_obj.has_previous %}
                <a class="btn btn-lg btn-success m-2" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            -->
            {% if page_obj.has_next %}
                <a class="btn btn-lg btn-success ms-4 siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-4 mx-auto">
        <div class="progress"> 
            <!-- Ignorar error de Sintaxis CSS. Se produce debido a obtencion de variable con Django -->
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:{{ progreso }}%;"></div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock content %}
