{% extends "sena/base.html" %}
{% block content %}
<div class="col-lg-4 mx-auto">
    <div class="card">
        <video class="card-img-top img-responsive" style="height: 30em;" controls="controls" muted>
            <source src="{{ object.video.url }}" type="video/mp4" />
        </video>
        <div class="card-body">
            <h2>{{ object.titulo }}</h2>
            <h4>{{ object.categoria }}</h4>
            <h4 class="text-muted">{{ object.fecha|date:"F d, Y" }}</h4>
        </div>
    </div>
    </div>
{% endblock content %}
