{% extends "sena/base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom-mb-4">Eliminar Seña</legend>
                <h2>¿Estas seguro que deseas eliminar la seña {{ object.titulo }}?</h2>
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-danger" type="submit"> Eliminar</button>
                <a class="btn btn-outline-secondary" href="{% url 'sena-detail' object.id %}"> Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content%}