{% extends "sena/base.html" %}
{% block content %}
<div class="col-lg-4 mx-auto mt-4">
<h4>Ingresar una Seña Nueva</h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form }}
    </div>
    <input class="btn btn-info mt-2" type="submit" value="Guardar">
</form>
</div>  
{% endblock %}
