
.filtrador select{
    background: #5bc0de;
    color: #fff;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 35px;
    border: none;
    }

.filtrador input{
    background: #5bc0de;
    color: #fff;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 35px;
    border-style: inset white;
    }
