{% extends "sena/base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="container" style="height: 670px;">
        <h2 class="mt-4 text-center">Inicio de Sesión</h2>
        <form method="POST" class="mx-auto mt-4" style="width: 50%;">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="from-group mt-3 d-grid gap-2">
                <button class="btn btn-outline-info" type="submit">Ingresar</button>
            </div>
        </form>
        <div class="mt-3 mb-3 text-center">
            <p class="text-muted">
                Deseas crear una Cuenta? <a class="ml-2" href="{% url 'register' %}">Registrate Aqui</a>
            </p>
        </div>
    </div>
{% endblock content%}