{% extends "sena/base.html" %}
{% block content %}
<div class="container" style="height: 670px;">
<h2 class="text-center mt-4">Su Sesion ha sido cerrada</h2>
<div class="text-center mt-4">
    <h3 class="text-muted">
        <a href="{% url 'login' %}">Ingrese desde Aquí</a>
    </h3>
</div>
</div>
{% endblock content%}