{% extends "sena/base.html" %}
{% load bootstrap %}

{% block content %}
<div class="container" style="height: 670px;">
<div class="row mt-4">
    <h1 class="text-center">Perfil de Usuario</h1>
    <div class="col-lg-4 mx-auto mt-4">    
        <div class="card text-white bg-dark">
            <img class="rounded-circle img-thumbnail" src="{{ user.perfil.imagen.url }}" style="height: 20em;">
            <div class="card-body">
            <h5 class="card-text text-muted"> Usuario: {{ user.username }}</h5>
            <h5 class="card-text text-muted"> Correo: {{ user.email }}</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mx-auto mt-4"> 
        <h2 class="text-center mb-4">Actualice sus Datos</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="from-group">
            {{ u_form|bootstrap }}
            {{ p_form|bootstrap }}
            </div>
            <div class="from-group">
            <button class="btn btn-info mt-4" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content%}