{% extends "sena/base.html" %}
{% load bootstrap %}
{% block content %}
<section>
    <div class="container" style="height: 670px;">
        <h2 class="mt-4 text-center">Crearse una Cuenta</h2>
        <form method="POST" class="mx-auto" style="width: 50%;" enctype="multipart/form-data">
            {% csrf_token %}
                {{ u_form|bootstrap }}
                {{ p_form|bootstrap }}
            <div class="from-group mt-3 d-grid gap-2">
                <button class="btn btn-outline-info" type="submit">Registrate</button>
            </div>
        </form>
        <div class="mt-3 mb-3 text-center">
            <p class="text-muted">
                Ya tienes una Cuenta? <a class="ml-2" href="{% url 'login' %}">Ingresa Aquí</a>
            </p> 
        </div>
            
    </div>
</section>
{% endblock content%}